@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

* {
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 1em;
}

.title {
    color: gray;
    padding: 0.8em;
    text-align: center;
    font-size: 39px;
}

.desc {
    color: gray;
    text-align: center;
}

pre code {
    background-color:#2a343d;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

p {
    color: red;
}

code {
    background-color: rgb(39, 32, 32);
}

.example {
    color: gray;
}

#main-icon {
    width: 100px;
    height: 100px;
    margin:0em auto;
}

#main-icon-holder {
    text-align: center;
}

#button-holder {
    position: fixed;
    top: 5%;
    float: left;
    background-color: rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 12px;
}

hr {
    margin: 15px 0;
}

footer {
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    width: 100%;
    border-radius: 8px;
    margin: 0.1em auto;
    padding: 0.1%;
}

footer h6 {
    color: white;
    font-size: 20px;
}
footer a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    }

#button-holder button {
    width: 150px;
    color: white;
    background-color: rgb(59, 59, 57);
    border: none;
    border-radius: 8px;
    padding: 0.7em;
    margin: 2px;
}

ul li a {
    color: rgba(10,10,10);
    text-decoration: solid;
}
ul li a:hover {
    color: blueviolet;
    text-decoration: underline;
}

#toggle-menu {
    background-color: rgb(243, 63, 63) !important;
}

#example-div, #docs-div {
    height: 40% !important;
    padding: 20px;
}

.ty-comment {
    color: green;
}

.ty-keyword {
    color: rgb(78, 0, 78);
}

.ty-secondary-keyword {
    color: rgb(187, 172, 37)
}
